/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.th-pointer {
  cursor: pointer;
}

.form-control {
  margin: 20px 0 15px 0;
  width: 20vw;
}

.row {
  margin: 0 20px 30px 20px;
}

#root > div > header > div.form-outline.row.d-flex.justify-content-center {
  margin-bottom: 5px
}