.th-pointer {
  cursor: pointer;
}

/* Search input */
.form-control {
  margin: 20px 0 15px 0;
  width: calc(40% + 1vw + 1vh);
}

@media screen and (max-width: 600px) {
  /* Search input */
  .form-control {
    margin: 20px 0 15px 0;
    width: calc(80% + 1vw + 1vh);
  }
}

#root > div > header > div.form-outline.row.d-flex.justify-content-center {
  margin-bottom: 5px
}

caption {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color:white;
  background-color: black
}

#h2-loading-data {
  margin: 30px 0 30px 0;
}

.card {
  margin-bottom: 15px;
}

@media screen and (max-width: 1200px) {
  .text-responsive {
    font-size: calc(30% + 0.5vw + 0.5vh);
  }
}

@media screen and (max-width: 575px) {
  .text-responsive {
    font-size: calc(50% + 0.5vw + 0.5vh);
  }
}